<%- include header.ejs %>

<%- include nav.ejs %>

  <div class="container" role="main">
  	<div class="jumbotron text-center">
	  <h1>Welcome to Komodo Node v.0.0.1</h1>
	  <p>
	  	<img src="images/komodo-node-logo.jpg" />
	  </p>
	  <p>Featuring:</p>
	  <ul class="list-inline">
	  	<li>NodeJS</li>
	  	<li>ExpressJS</li>
	  	<li>AngularJS</li>
	  	<li>Embedded Javascript Templating (EJS)</li>
	  	<li>Bootstrap 3</li>
	  </ul>
	</div>
  </div>

<%- include footer.ejs %>